<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>

        <h2>Environmental</h2>
        <ul>
            Coming soon...
        </ul>
        <h2>Educational</h2>
        <ul>
            Coming soon...
        </ul>
        <h2>Community Service</h2>
        <ul>
            Coming soon...
        </ul>
        <h2>Health and Wellness</h2>
        <ul>
            Coming soon...
        </ul>
    </main>
<%- include('partials/footer') %>